#app {
    padding-top: 100px
}

.BlogPage {
    width: 85%;
    margin: 20px auto
}

.BlogPage>p {
    text-indent: 2em
}

.BlogPage>h4 {
    font-size: 33px
}

.BlogPage small {
    font-size: 14px;
    color: #999;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px
}

.BlogPage .btn {
    float: right;
    margin-left: 10px;
    border-radius: 0;
    position: relative;
    top: -30px
}

.BlogPage .BlogInput {
    width: 100%;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: 0;
    -webkit-box-shadow: 0 0 0 0;
}

.BlogPage div.BlogInput {
    display: inline-block;
    box-sizing: border-box;
    resize: none;
    width: 50%;
    min-height: 600px;
    overflow-y: auto;
    vertical-align: top;
    border: 1px solid #ddd;
    border-right: 0
}

.BlogPage textarea.BlogInput {
    display: inline-block;
    box-sizing: border-box;
    resize: none;
    width: 50%;
    min-height: 600px;
    border: 1px solid #ddd;
    background: rgb(34,35,50);
    color: #fff;
    border-left: 0
}

.top-bar {
    background: #fff;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 3px 3px #ddd;
    border-left: 3px #af91a4 solid;
    padding-left: 20px
}

.top-bar h1 {
    display: inline-block;
    font-size: 26px;
}

.top-bar .new {
    float: right;
    position: relative;
    top: 28px;
    right: 15px;
    margin-right: 10px
}

.top-bar .hide {
    display: none
}

.top-bar a {
    color: #333
}

.comment {
    width: 85%;
    margin: 50px auto
}

.comment .comm:first-child {
    border-bottom: 0;
    height: 0
}

.comment .comm {
    width: 100%;
    border-bottom: 1px dashed #ddd;
    height: auto;
    padding-top: 10px;
}

.comment .comm p {
    font-size: 15px;
}

.comment .comm small {
    color: #999
}

.comment .comm-input {
    height: 50px;
    padding-top: 30px
}

.comment .comm-input input {
    border: 0;
    border-bottom: 1px solid #ddd;
    width: 50%;
    margin-right: 20px
}

.comment .comm-input span {
    position: relative;
    top: -5px;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
}

.burster .btn-group .btn {
    border: 0;
    border-radius: 0
}

.burster .btn-group .btn:hover {
    background: #fff;
    color: #fff;
    background: #71a9e8;
}

.burster .btn-group .act {
    color: #71a9e8;
    background: #fff
}

.burster {
    margin: 100px auto;
    text-align: center;
}

.blog-list>div {
    color: #333;
    display: block;
    margin-bottom: 20px;
    border-bottom: solid 1px #eee
}

.blog-list div a p {
    display: block
}

.blog-list {
    width: 60%;
    margin: 0 auto;
}

.blog-list a:hover {
    text-decoration: none;
}

.blog-list div header small {
    color: #aaa
}
