.SelectInput{padding: 1rem 0.5rem;background: #f6f6f6;position: relative;}
.SelectInput input{border: 0;padding-left:3rem}
.SelectInput img{position: absolute;top:1.8rem;left: 1.5rem;}
div.form-group{margin-bottom: 0}