.BlogList  a {color: #333;display: block;margin-bottom:20px}
.BlogList div  a p {display:block}
.BlogList>div {border-bottom:  solid 1px #eee} 
.BlogList  {width: 60%;margin :0 auto;}
.BlogList a:hover{text-decoration:none;}